.btn-ed {
  background-color: #289bde !important;
  border: none;
  color: #fff !important;
}

.card-title {
  color: #4a4a4a;
}

.price {
  color: #289bde;
  font-size: 1.5rem;
}

footer {
  background-color: #161616;
}
